                <div class="header-top bg-black">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-lg-6 col-md-4">
                                <!-- welcome-msg start-->
                                <div class="welcome-msg">
                                    <p>{{title}} Created by {{name}}</p>
                                </div>
                                <!-- welcome-msg end-->
                            </div>
                            <div class="col-lg-6 col-md-8">
                                <!-- full-setting-area start -->
                                <div class="full-setting-area">
                                    <div class="top-dropdown">
                                        <ul>
                                            <li class="drodown-show"><span>Currency:</span> <a href="#">USD <i class="fa fa-angle-down"></i></a>
                                                <ul class="open-dropdown">
                                                    <li><a href="#">EUR €</a></li>
                                                    <li><a href="#">USD $</a></li>
                                                </ul>
                                            </li>
                                            <li class="drodown-show"><span>Language:</span> <a href="#"><img src="img/icon/p-1.jpg" alt=""> English <i class="fa fa-angle-down"></i></a>
                                                <ul class="open-dropdown">
                                                    <li><a href="#"><img src="img/icon/p-1.jpg" alt=""> English</a></li>
                                                    <li><a href="#"><img src="img/icon/p-2.jpg" alt=""> Français</a></li>
                                                </ul>
                                            </li>
                                            <li class="drodown-show"><a href="#"> Setting <i class="fa fa-angle-down"></i></a>
                                                <ul class="open-dropdown setting">
                                                    <li><a href="my-account.html">My account</a></li>
                                                    <li><a href="checkout.html">Checkout</a></li>
                                                    <li><a href="login-register.html">Sign in</a></li>
                                                </ul>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <!-- full-setting-area end -->
                            </div>
                        </div>
                    </div>
                </div>